@import "tailwindcss";

@theme {
    --color-background: #fffff;
    --color-primary: #B08968;
    --color-accent: #E6CCB2;
    --color-foreground: #121212;
    --color-onAccent: #ffffff;
    --color-onPrimary: #ffffff;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.block {
    height: 100%;
    width: 100%;
}

.section {
    height: 500px;
}

body {
    background: url('/topography.svg')
}